{% extends "/template/AdminBase.html" %}

{% block customJS %}
<script type="text/javascript">
	j$(document).ready(function(){
		j$('span.command-link[type="add"]').click(function(){
			var url=j$('#url').val();
			var source=j$('#source').val();
			var css=j$('#css-selector').val();
			var interest_length=j$('#length').val();
			var depth=j$('#link').val();
			
			j$.post(
				'/admin/newssource',
				{'action':'add','url':url,'source':source,'css':css,'length':interest_length,'link':depth},
				function(result){
					j$().toastmessage('showNoticeToast','Source has been saved');
				}
			);			
		});
		
		j$('span.command-link[type="del"]').click(function(){
			var id=j$(this).attr('itemID');
			
			j$.post(
				'/admin/newssource',
				{'action':'delete','id':id},
				function(result){
					j$().toastmessage('showNoticeToast','Source has been deleted');
				}
			);
		});
				
		// level 1 navigation
		j$('#nav-admin').addClass('level-1-navigation-selected');
		
		// level 2 navigation
		j$('.level-2-navigation').show();
		j$('#nav-news-source').addClass('level-2-navigation-selected');	
	});
</script>
{% endblock %}

{% block main %}
<table class="table-row-border">
	<thead>
		<tr><td>Source</td>
			<td>URL</td>
			<td>CSS Selector</td>
			<td>Length of Interest</td>
			<td>Link Depth</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		{% for s in sources %}
			<tr>
				<td>{{ s.source }}</td>
				<td>{{ s.url }}</td>
				<td>{{ s.css_selector }}</td>
				<td>{{ s.length_of_interest }}</td>
				<td>{{ s.link_depth }}</td>
				<td><span class="command-link" itemID="{{ s.key.id() }}" type="del">Delete</span></td>
			</tr>
		{% endfor %}
		<tr>
			<td><input name="source" id="source" /></td>
			<td><input type="url" name="url" id="url"/></td>
			<td><input name="css-selector" id="css-selector" placeholder="div.nviewer, div#news"/></td>
			<td><input type="number" step="1" name="length" id="length" value="50"/></td>
			<td><input type="number" step="1" name="link" id="link" value="2"/></td>
			<td><span class="command-link" type="add">Add</span></td>
		</tr>
	</tbody>
</table>
{% endblock %}
