<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>G-App Yahoo</title>
	<meta name="author" content="">
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	<script type="text/javascript">
		// some global initialization
		var j$=jQuery.noConflict();
	</script>

	<link rel="stylesheet" type="text/css" href="/static/css/reset-min.css">
	<LINK REL=StyleShyeet HREF="/static/css/navigation.css" TYPE="text/css" MEDIA=screen>
	<LINK REL=StyleSheet HREF="/static/css/screen.css" TYPE="text/css" MEDIA=screen>
</head>

{% autoescape true %}
<body>


{% block header%}

<div class="header">
	<table class="header-layout">
	<tr><td>
	<a href="/">
		<h4>G-App Yahoo</h4>
	</a>
	</td><td>
	<span class="level-1-navigation">
		<ul>		
			<li id="nav-order">
				<a href="/quote">
				Quote
				</a>
			</li>
			<li id="nav-analysis">
				<a href="/rss">
				Analysis
				</a>
			</li>
			<li id="nav-user">
				<a href="/user/contact">
				My Profile
				</a>
			</li>						
			<li id="nav-admin">
				<a href="/admin/newssource">
				Admin
				</a>
			</li>
		</ul>
		</span>
	</td><td>
		<div class="status-tray">
		<!-- chat icon -->
		<img id="you-have-chat" src="http://cdn5.iconfinder.com/data/icons/ie_Birdies/128/twitter_bird_5.png" title="You have got chat!"/>

		<!-- help icon -->
		<a href="https://sites.google.com/site/anthemmarketplacehelp/deal-flow">
		<img id="help" src="http://cdn3.iconfinder.com/data/icons/pleasant/Help-File.png" height="30px" title="Get Help"/>
		</a>
		
		</div>
	</td><td style="text-align:right;">
		<span>
			{{ me.nickname }}
		</span>
		<a href="{{ url_logout }}" class="bubble-button" style="">Logout</a>
	</td></tr>
	</table>
</div>
{% endblock %}

<div class="wrapper">
<table id="site-layout">
<tr>
	<td class="level-2-navigation" style="display:none;">
		{% block level_2_navigation %}
		
		{% endblock %}
	</td>
	<td>
		<div class="main">
		{% block main %}{% endblock %}
		</div>
	</td>
</tr>

</table>

<!-- message pane -->
<div id="channel-visible-switch">
Chat
<!-- online user list -->
<select id="online-user-list" style="">
	<option value=""></option>
</select>
</div>

<div class="channel-message-container" style="display:none;" id="channel-container">
	<div class="channel-message-displayer" id="channel-displayer"></div>
	
	<div class="channel-message-writer" style="width:100px;" id="channel-writer">
		<input type="text" name="receiver-name" placeholder="@username" value="@me"/>
		<br />
		<input type="text" name="channel-message" placeholder=""/>
	</div>
	<span id="channel-message-character-count"></span>/140
	<img src="http://cdn3.iconfinder.com/data/icons/free-blue-button-icons-1/64/Collapse.png" class="channel-collapse-switch" id="channel-collapse-switch"/>
	
</div>


<div class="push"></div>
</div>


{% block footer %}
<div class="footer">
<div style="margin-right:auto;margin-left:auto;width:67%;">
<ul>
<li>&copy; 2013 All Rights Reservered by the Gappyahoo Inc.
</li>

<li>
	<a href="mailto:anthem.marketplace@gmail.com">Contact Us @Admin</a>
</li>
<li>
	<a href="">Term of Service</a>

</li>

</ul>
</div>
</div>
{% endblock %}

 

	<!-- Channel API, must be the first one! -->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<LINK REL=StyleSheet HREF="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.min.css" TYPE="text/css" MEDIA=screen>

	<!-- JS to turn a form into AJAX call -->
	<script src="/static/formjs/jquery.form.js"></script> 

	<!-- toast -->
	<script src="/static/toast/jquery.toastmessage.js" type="text/javascript"></script> 
	<LINK REL=StyleSheet HREF="/static/toast/css/jquery.toastmessage.css" TYPE="text/css" MEDIA=screen>
	
	<!-- jQuery dataTable -->
	<script type="text/javascript" src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
	<LINK REL=StyleSheet HREF="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" TYPE="text/css" MEDIA=screen>
	<link rel="stylesheet" type="text/css" href="/static/beautiful_tables/cell_styles.css">
		
	<!-- carousel -->
	<script type="text/javascript" src="/static/carouFredSel-6.2.0/jquery.carouFredSel-6.2.0.js"></script>

	<!-- easing -->
	<!-- http://gsgd.co.uk/sandbox/jquery/easing/ -->
	<script type="text/javascript" src="/static/easing/jquery.easing.min.js"></script>

	<!-- tinyMCE -->
	<script type="text/javascript" src="/static/tinymce/js/tinymce/jquery.tinymce.min.js"></script>	
	<script type="text/javascript" src="/static/tinymce/js/tinymce/tinymce.min.js"></script>	
		
	<!-- highcharts -->
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<!-- css3 workaround -->
	<script type="text/javascript" src="/static/css3ie/modernizr.custom.18013.js"></script>
		
	<!-- google analytics -->

	<!-- google wallet -->
	<!-- sandbox 
	<script src="https://sandbox.google.com/checkout/inapp/lib/buy.js"></script>	
	-->
	<script src="https://wallet.google.com/inapp/lib/buy.js"></script>        	
	
	
	<script type="text/javascript">
	// some global initialization
	var j$=jQuery.noConflict();
	
	// set up chat polling
	var chat_message_poller;
	var channel, socket;
		
 	function formatChannelMessage(sender_name,message){
   		var html='';
    	html+='<div class="channel-message">';
    	html+='<span class="channel-sender">';
    	html+=sender_name+'</span>';
    	html+='<br />';
    	html+='<div class="channel-message-content">';
    	html+=message;
    	html+='</div>';
    	html+='</div>';
  		return html;
 	}
 	function refreshChannelMessage(html){
 		// as a circular buffer, showing 10
 		// so the oldest gets bumped off the list
 		
 		var buffer=10;
 		var existing=j$('#channel-displayer').find('div.channel-message');
 		
 		if (existing.length>=buffer){
 			for (var i=0; i<(existing.length-buffer);i++){
 				j$(existing[i]).remove();
 			}
 		}
 		j$('#channel-displayer').append(html);
 		var height=j$('#channel-displayer').outerHeight();
		
		// value "450" is the CSS height of this div#channel-displayer! 		
 		if (parseInt(height)>=450){
 			j$('#channel-displayer').addClass('y-scroll');
 		}else{
 			j$('#channel-displayer').removeClass('y-scroll'); 		
 		}
 	}
 	
	function pollChatOnlineUsers(){
		j$.post(
			'/channel/list/onlineusers',
			function(result){
				switch(result){
					case '-1':
						j$().toastmessage('showNoticeToast','No one is availabe to chat at this moment');
						break;
					default:
						var users=j$.parseJSON(result);
						
						// populate online user list
						var html='';
						for (var i=0;i<users.length;i++){
							html+='<option value="'+users[i]+'">'+users[i]+'</option>';
						}
						j$('#online-user-list').html(html);
						
						j$().toastmessage('showNoticeToast',users.length+' users are chatty');
						break;
				}// end of switch
			}
		);
	}

	function onOpened(){
		//console.log('channel opened');
	}
	function onClose(){
		//console.log('channel closed');	
	}
	function onError(){
		//console.log('channel error');		
	}
	function onMessage(msg){
		var data=j$.parseJSON(msg.data);
		var html=formatChannelMessage(data['sender'],data['message']);	    	
		refreshChannelMessage(html);
		j$('#you-have-chat').show('pulstate');
	}

	function applyChatToken(){
		j$.post(
			'/channel/token',
			{'contact_id': '{{ me.key.id() }}',
				'contact_name': '{{ me.nickname }}'},
			function(result){
				switch(result){
					case '-2':
						j$().toastmessage('showNoticeToast','All chats are in use by other users at this moment. Please try later.');
						break;
					case '-1':
						j$().toastmessage('showNoticeToast','You have two chat windows open. Please close one and try me again.');
						break;
					default:
						channel = new goog.appengine.Channel(result);
						socket = channel.open();
						socket.onopen = onOpened;
						socket.onmessage = onMessage;
						socket.onerror = onError;
						socket.onclose = onClose;
						break;
				}// end of switch
			}
		);
	}
	function closeChatChannel(){
		if (typeof socket!= "undefined"){
			socket.close();
		}
	}
		 	
	j$(document).ready(function(){
		j$('input[type="date"]').datepicker();

		// channel write message
		j$('input[name="channel-message"]').keypress(function(event) {
    		var keycode = (event.keyCode ? event.keyCode : event.which);
        	if(keycode == '13') {
				var receiver_name=j$('input[name="receiver-name"]').val();
				var message=j$('input[name="channel-message"]').val();
				if (receiver_name=='@me'){
					// talking to yourself?
					// why even bother going through the server?									
					j$().toastmessage('showWarningToast','Now you get me worried. Why are you talking to yourself?');
					var html=formatChannelMessage('me',message);
    				refreshChannelMessage(html);
    				
    				// clear input box
    				j$('input[name="channel-message"]').val('');
				}else{
					var data={'sender': '{{ me.nickname }}',
							'receiver': receiver_name,
							'message':message};
					j$.post(
						'/channel/route',
						data,
						function(result){
							switch (result){
								case '-1':
									j$().toastmessage('showNoticeToast','User is offline. Your message has been sent in an email.');
									break;
								default:
									break;								
							}
							
							// Since msg will be emailed if user is offline,
							// we will update UI in all cases as if the msg was sent
							var html=formatChannelMessage('me',message);
    						refreshChannelMessage(html);
    						
    						// clear input box
    						j$('input[name="channel-message"]').val('');
						}
					);
							
				}
            }else{
        		var count=j$(this).val().length;
   				j$('#channel-message-character-count').html(count);
            }
        });
                    		
        // channel window animation
		j$('#channel-visible-switch').click(function(){
			j$('#channel-container').show({
				'duration':400,
				'easing':'easeOutSine'
			});
			j$(this).hide();
			
			// apply token
			applyChatToken();

		});
		j$('#channel-collapse-switch').click(function(){
			// cancel polling
			closeChatChannel();
			
			j$('#channel-container').hide();
			j$('#channel-visible-switch').fadeIn(400);
		});
		
		// click on channel messag will populate sender input
		j$(document).on('click','div.channel-message',function(){
			var sender=j$(this).find('span.channel-sender:first').html();
			j$('input[name="receiver-name"]').val('@'+sender);
		});
		
		// refresh online user list
		j$('#you-have-chat').click(function(){
			pollChatOnlineUsers();		
		});
		
		j$('#online-user-list').click(function(){
			j$('input[name="receiver-name"]').val('@'+j$(this).val());			
		});
		
		// to begin with, pull online chat user list
		pollChatOnlineUsers();		
		
	});
	</script>	
	
	{% block customJS %}{% endblock %}
</body>
{% endautoescape %}

</html>
