<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <title>G-App Yahoo</title>
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="/static/css/reset-min.css">
	<LINK REL=StyleSheet HREF="/static/css/screen.css" TYPE="text/css" MEDIA=screen>
</head>
<body>

	<!-- printers -->
	<div class="home-marketing-section">
		<div style="width:30%;position:absolute;right:50px;color:#fff;z-index:99;">
			<div style="font-size:3.5em;margin-top:67%;">
			<h1>G-App Yahoo</h1>
			</div>
			<div style="text-align:right;">
			Make Money Easy
			</div>
			
			<a href="/quote">
			<div class="get-started-button">Get Started</div>
			</a>
		</div>
		<img src="/static/img/dont_panic-wallpaper-1920x1440.jpg" class="bg">
	</div>


</body>
</html>
