{% extends "/template/UserBase.html" %}

{% block customJS %}
<script type="text/javascript">
	j$(document).ready(function(){
		j$('#add-comm').click(function(){
			var tr=j$('#table-comm').find('tbody tr:last');
			j$('#table-comm').find('tbody').append(j$(tr).clone());
		});
		
		j$(document).on('click','span[item="delete-comm"]',function(){
			var trs=j$('#table-comm tbody tr');
			if (trs.length>1){
				j$(this).parents('tr:first').remove();
			}else{
				j$().toastmessage('showWarningToast','You can not remove this because at least one communication method is required');
			}
		});
		
		j$('#btn-save-comm').click(function(){
			var trs=j$('#table-comm').find('tbody tr');
			var data={};
			j$.each(j$('#table-comm tbody tr'),function(index,val){
				var name=j$(val).find('input[item="name"]').val();
				var value=j$(val).find('input[item="value"]').val();
				data[name]=value.replace(/(\n)+/g, '<br />').replace(/(\r)+/g,'<br />');
			});
			
			j$.post(
				'/user/contact',
				data,
				function(result){
					switch(result){
						case '0':
							j$().toastmessage('showSuccessToast','Your information has been updated');
							break;
						default:	
							j$().toastmessage('showErrorToast','What happened?');
							break;
					}
				}
			);
		});

		j$('#btn-save-preference').click(function(){
			var shipping=j$(this).parents('div.quick-pane:first').find('textarea[item="shipping-preference"]').val();
			var payment=j$(this).parents('div.quick-pane:first').find('textarea[item="payment-preference"]').val();
			
			j$.post(
				'/user/contact/preference',
				{'shipping':shipping,'payment':payment},
				function(result){
					switch(result){
						case '0':
							j$().toastmessage('showSuccessToast','Your information has been updated');
							break;
						default:	
							j$().toastmessage('showErrorToast','What happened?');
							break;
					}
				}
			);
		});
		
		// level 1 navigation
		j$('#nav-user').addClass('level-1-navigation-selected');
		
		// level 2 navigation
		j$('.level-2-navigation').show();
		j$('#nav-user-contact').addClass('level-2-navigation-selected');
	});
</script>
{% endblock %}

{% block main %}
<h1 class="ariel-blue">User Information</h1>

<p class="ariel-blue ariel-p">
You can manage your contact information. For <strong>email</strong> and <strong>nickname</strong>, you can change them 
by upating your Google account.
</p>

<div class="quick-pane">
	<label class="ss-label fixed-width-label">Nickname</label>
	{{ me.nickname }}
</div>

<div class="quick-pane">
	<label class="ss-label fixed-width-label">Email</label>
	{{ me.email }}
</div>

<div class="quick-pane">
	<label class="ss-label fixed-width-label">Reputation</label>
	{% if me.reputation_link %}
		<a href="{{ me.reputation_link }}">
			{{ me.reputation_score }}
		</a>
	{% else %}
			{{ me.reputation_score }}	
	{% endif %}
</div>

<div class="quick-pane">
	<span style="float:right;">
	<a class="command-link" id="add-comm">Add</a>
	</span>
	
	<input type="submit" value="Save" id="btn-save-comm" class="my-button"/>

	<table class="sf-table two-col-table" id="table-comm">
	<thead><tr><td>Name</td><td>Value</td></tr></thead>
	<tbody>
	{% for name,val in me.communication.iteritems() %}
		<tr><td><input type="text" class="ss-input" value="{{ name }}" placeholder="eg. Phone" item="name"/></td>
			<td><input type="text" class="ss-input" value="{{ val }}" placeholder="eg. 909-123-4567" item="value"/>
				<span class="command-link" item="delete-comm" style="float:right;">Remove</span>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>

<div class="quick-pane">
	<h3>Posting Preference</h3>
	
	<p>
		These preferences will be added to all your posts. Think of them as an email signature where
		you indicate things that you want users to be aware of.
	</p>
	
	<input type="submit" value="Save" id="btn-save-preference" class="my-button"/>
	
	<table class="two-col-table main">
		<tr><td>
				<label class="ss-label">Shpping Preference</label>
				<br />
				<textarea item="shipping-preference">{{me.shipping_preference}}</textarea>
			</td>
			<td>
				<label class="ss-label">Payment Preference</label>
				<br />
				<textarea item="payment-preference">{{me.payment_preference}}</textarea>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
